<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Sequence Variation Server</title>
</head>

<body>
<form action="{{ url }}" method="post">
	<select name="pdb">
    	<option value="2AW7">2AW7</option>
	</select>
	<p>Display contents of list-of-dicts "pdbs":</p>
	<table width="100%" border="1">
		<caption>"Requires Translation" does not need to be exposed to the user.  Here for debugging purposes.</caption>
		<thead>
			<tr>
				<th>PDB ID</th>
				<th>Model #</th>
				<th>Chain ID</th>
				<th>Description</th>
            	<th>Requires Translation</th>
			</tr>
		</thead>
		<tbody>
			{% for entry in pdbs %}
			<tr>
				<td>{{ entry['pdb'] }}</td>
				<td>{{ entry['model_number']}}</td>
				<td>{{ entry['chain_id']}}</td>
				<td>{{ entry['description']}}</td>
				<td>{{ entry['requires_translation']}}</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
</form>
</body>
</html>
