{% extends "layout.html" %}

{%- block title -%}
    <title>Sequence Variation Server</title>
{%- endblock title -%}

{%- block head %}
{%- endblock head -%}

{% macro null_option() -%}
<option value="" disabled="disabled" selected="selected">Choose an option...</option>
{%- endmacro -%}

{%- block body %}
      <div class="row">

        <form class="form-horizontal" action="{{ url }}" method="post">

          <div class="form-group">

            <label for="pdb-model" class="col-sm-1 control-label">Structure</label>
            <div class="col-sm-5">
              <select class="form-control" id="pdb-model" name="pdb-model">
                <option value="" disabled="disabled" selected="selected">
                  Choose a structure
                </option>
                {%- for row in data -%}
                  <option value="{{ pdbmod }}" data-pdb='{{row['pdb']}}'
                          data-model='{{row['model_number']}}'>
                    {{ row['pdb'] }}: {{ row['organism'] }} | {{row['contents']}}
                  </option>
                {% endfor %}
              </select>

            </div>
          </div>


          <div class="alignment-controls">
            {%- for structure in data -%}
              <div class="form-group alignment-control"
                   data-pdb="{{structure['pdb']}}"
                   data-count="{{ structure['alignments']|length }}" hidden>
                {% for alignment in structure['alignments'] %}
                <div class="col-sm-5 radio alignment">
                    <label>
                      <input type="radio" class='alignment-radio'
                          value="{{alignment['alignment_id']}}" name='alignments'
                          data-chains='{{alignment["chains"]|join(",")}}'>
                      {{ alignment['description'] }}
                    </label>
                </div>
              {% endfor %}
              </div>
            {% endfor %}
          </div>

          <div class="range-controls" id='range-control-group' data-range-count='5'>
            <div class='form-group range-control-header' hidden>
              <div class="col-sm-3">
                <strong>Chain</strong>
              </div>

              <div class="col-sm-3">
                <strong>Start</strong>
              </div>

              <div class="col-sm-3">
                <strong>Stop</strong>
              </div>
            </div>

            {% for index in range(1,6) %}
            <div class='form-group range-control-group' data-range='{{index - 1}}' hidden>

              <div class="col-sm-3">
                <select class="form-control range-control chain-selector"
                  name="chain-select" data-range="{{index - 1}}">
                </select>
              </div>

              <div class="col-sm-3">
                <div class='alert alert-danger' role='alert' hidden>
                </div>
                <input class="form-control range-control start-selector" type="text"
                  placeholder="Start Position" data-range="{{index - 1}}">
              </div>

              <div class="col-sm-3">
                <div class='alert alert-danger' role='alert' hidden>
                  <span class="glyphicon glyphicon-exclamation-sign message" aria-hidden="true">
                  </span>
                </div>
                <input class="form-control range-control stop-selector" type="text"
                  placeholder="Stop Position" data-range="{{index - 1}}">
              </div>

              <div class="col-sm-2">
                {% if index != 5 %}
                <button type="button" class="btn btn-default add-range range-control">
                  <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                </button>
                {% endif %}

                {% if index != 1 %}
                <button type="button" class="btn btn-default remove-range range-control">
                  <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                </button>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          </div>

          <button type="button" class="btn btn-lg btn-primary remove-range
            range-control" id="submit-ranges">
            Submit
          </button>

          <button type="button" class="btn btn-lg" id='clear-button'>
            Clear
          </button>
        </form>
      </div>

{% endblock body %}

{%- block page_specific_js -%}
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
{%- endblock page_specific_js %}
