<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    {#
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}"> <!-- Stub for local changes -->
    #}
    {%- block title -%} {%- endblock title -%}
    {%- block head -%}
    {%- endblock head %}
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button"
                  class="navbar-toggle collapsed"
                  data-toggle="collapse"
                  data-target="#navbar"
                  aria-expanded="false"
                  aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Alignment Server</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
          <ul class="nav navbar-nav">
          <li><a href="http://rna.bgsu.edu/">BGSU Home</a></li>
          <li><a href="http://www.rna.ccbb.utexas.edu/">CRW Site</a></li>
          <li><a href="http://rna.bgsu.edu/main/alignment-server-help/">Help</a></li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="container">

      <div class="jumbotron">
          <h1>Sequence Alignment Server</h1>

          <p>
            A joint initiative of the <a href="http://rna.bgsu.edu">BGSU RNA
            Group</a> and the <a href="http://www.rna.ccbb.utexas.edu/">
            Comparative RNA Web (CRW) Project</a>
          </p>

          <hr/>
          <p>Goal: To select a region from a 3-D structure and seamlessly access its sequence variations from a large and diverse sequence alignment.</p>
      </div>
      {%- block body %}
      {%- endblock body %}
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    {% block page_specific_js %} {% endblock page_specific_js %}
  </body>
</html>

{% macro static_jquery() -%}
    <script type="text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"/>
{%- endmacro -%}
